@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	user-select: none;
	transition-property: none;
}
html {
	scroll-behavior: smooth;
}
body,
#__next {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: hsl(var(--b1));
	background-image: radial-gradient(hsl(var(--a)) 1.1px, transparent 1.1px),
		radial-gradient(hsl(var(--a)) 1.1px, hsl(var(--b1)) 1.1px);
	background-size: 44px 44px;
	background-position: 0 0, 22px 22px;
}
.glassy{
	background: rgba( 255, 255, 255, 0.1 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
